@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}
.navlist{
    display: flex;
    align-items: center;
}
.navlist ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navitem{
    margin: 0% 15px;
}
.navlink{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}
.loginbutton button {
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;

}
.loginbutton button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;

}