@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#form_container {
    width: 100%; /* O formulário vai ocupar toda a largura da tela */
    max-width: 500px; /* Ajuste para limitar a largura máxima */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  #form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os campos */
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que a caixa de input ocupe a largura total */
  }
  
  .input-field input {
    width: 100%; /* Garante que o campo de input ocupe a largura total */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
  }
  
  .btn-default {
    background-color: #FB4D46; /* Cor vermelha */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Garante que o botão ocupe toda a largura */
  }
  
  .btn-default:hover {
    background-color: #ff3f31; /* Cor mais forte ao passar o mouse */
  }
  
  a {
    color: #0e45dd;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 15px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  